
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*font*/
*{
    font-family: "Mulish", sans-serif !important;
    font-weight:400 !important;
}

h1,h2,h3,h4,h5{
    text-transform: capitalize !important;
    letter-spacing: 5px !important;
}

/*making buttons round edges*/
.message .wrapper .widget_content .readMore, .hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore, .latest_photos .readMore span, body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a, .hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore {
    border-radius: 25px !important;

}
.message .wrapper .widget_content .readMore:hover, .hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore:hover, .latest_photos .readMore span:hover, body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a:hover, .hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore:hover {
background-color: #94b8d3 !important;
}

/* images roundish*/
.article_index_container .co_index.article_index .row .item .synopsis_icon, .article_index_container .co_index.article_index .row .item .title a:hover, .sneak-peek-container .sneak_peek .thumbnail, .sneak_peek a.thumbnail img, .sneak-peek-container .sneak_peek .widget_content h6:hover {
    border-radius:50px !important;
}
/*images background*/
.sneak-peek-container .sneak_peek .widget_content h6:hover{
    background: #94b8d3 !important;
}

/*donate section background*/
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(2){
    background-image: url("https://lavate.la/media/images/1333/YRyE13331136.png") !important;
    background-size: cover !important;
   

}
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(2) *{
    color:#0f4167 !important;
}
/*.widget-4.message.custom.v380.feed h5, .widget-4.message.custom.v380.feed .bottom_padding{
    
}
/*i would like to*/
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4){
    background-image: url("https://lavate.la/media/images/1333/tHTz13331138.png") !important;
    background-size: cover !important;
    color:#fff !important;
}
/*footer*/
#footer{
    background-image: url("https://lavate.la/media/images/1333/sPBo13331140.png") !important;
    background-size: cover !important;
}