
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*font*/
*{
    font-family: "Mulish", sans-serif !important;
    font-weight:400 !important;
}
/*titles capitalised and space*/
h1,h2,h3,h4,h5, .widget_header h5{
    text-transform: capitalize !important;
    letter-spacing: 5px !important;
}
/*colors*/
#header.on-scroll #header_container .links .search-trigger-container .search-trigger, #header_container .links #HeaderSubscribeContainer a, #header_container .links .subscribe_box .footer_box a, body.sites-article #header_container .links .search-trigger-container .search-trigger, #header.on-scroll #header_container .links .topBarLink, #header.on-scroll #header_container .links .topBarLink a, body.sites-article #header_container .links .topBarLink, body.sites-article #header_container .links .topBarLink a,body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body #header.on-scroll .cco_body #tabContentMain .donate_link, body #header.on-scroll body #tabContentMain .co_menu_item span.parent, body #header.on-scroll body #tabContentMain .co_menu_item span.parent a, body #header.on-scroll body #tabContentMain .co_menu_item.hover span.parent, body #header.on-scroll body #tabContentMain .co_menu_item.hover span.parent a, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item span.parent, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item span.parent a, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item.hover span.parent, body #header.on-scroll body.cco_body #tabContentMain .co_menu_item.hover span.parent a, body #header.on-scroll body.cco_body #tabContentMain .co_submenu_container .co_column a, body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent, body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent a, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent, body.cco_body #header.on-scroll #tabContentMain .co_menu_item.hover span.parent a, body.cco_body #header.on-scroll #tabContentMain .co_submenu_container .co_column a, body.cco_body #header.on-scroll #tabContentMain .donate_link, body.cco_body.sites-article #tabContentMain .co_menu_item span.parent, body.cco_body.sites-article #tabContentMain .co_menu_item span.parent a, body.cco_body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body.cco_body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent, body.cco_body.sites-article #tabContentMain .co_menu_item.hover span.parent a, body.cco_body.sites-article #tabContentMain .co_submenu_container .co_column a, body.cco_body.sites-article #tabContentMain .donate_link, body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item, body.sites-article #tabContentMain .co_menu_item.arrow .co_submenu_container a.item span, body.sites-article .cco_body #tabContentMain .donate_link, body.sites-article body #tabContentMain .co_menu_item span.parent, body.sites-article body #tabContentMain .co_menu_item span.parent a, body.sites-article body #tabContentMain .co_menu_item.hover span.parent, body.sites-article body #tabContentMain .co_menu_item.hover span.parent a, body.sites-article body.cco_body #tabContentMain .co_menu_item span.parent, body.sites-article body.cco_body #tabContentMain .co_menu_item span.parent a, body.sites-article body.cco_body #tabContentMain .co_menu_item.hover span.parent, body.sites-article body.cco_body #tabContentMain .co_menu_item.hover span.parent a, body.sites-article body.cco_body #tabContentMain .co_submenu_container .co_column a{
    color:#0f4167 !important;
}
/*making buttons round edges*/
.hp_content_wrapper .readMore,.message .wrapper .widget_content .readMore, .hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore, .latest_photos .readMore span, body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a, .hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore {
    border-radius: 25px !important;
    border-color: #0f4167 !important;

}

.hp_content_wrapper .readMore:hover,.message .wrapper .widget_content .readMore:hover, .hp-table .hp-row-first .promo_slider .slider .cycle-caption .readMore:hover, .latest_photos .readMore span:hover, body.cco_body #tabContentMain .co_menu_item.donate_link span.parent a:hover, .hp-table>:not(:first-child) .promo_slider .cycle-caption .readMore:hover {
background-color: #94b8d3 !important;
}

/* images roundish*/
/*.article_index_container .co_index.article_index .row .item .synopsis_icon, .article_index_container .co_index.article_index .row .item .title a:hover, .sneak-peek-container .sneak_peek .thumbnail, .sneak_peek a.thumbnail img, .sneak-peek-container .sneak_peek .widget_content h6:hover {
    border-radius:50px !important;
}*/
/*images background*/
.sneak-peek-container .sneak_peek .widget_content h6:hover{
    background: #94b8d3 !important;
}
/*navigation*/
body.cco_body #header.on-scroll #tabContentMain .co_menu_item span.parent a, body.cco_body #tabContentMain .co_menu_item.hover span.parent a{
    color:#0f4167 !important;
    
}
/*mobile navigation*/
@media (max-width: 1024px) {
    .on-scroll .cs-mobile-menu-open, .not-homepage body .cs-mobile-menu-open, body:not(.home) .cs-mobile-menu-open {
        color:#0f5791 !important;
    }
   
        .site-nav-wrapper{
            background-color: #0f5791 !important;
        }
}
/*b"h*/
#header.on-scroll #header_container .links:after, body.sites-article #header_container .links:after{
    color:#94b8d3
}
/*lign under selected in navigation*/
body.cco_body #tabContentMain .co_menu_item.selected a.parent:after{
    background-color: #94b8d3 !important;
}
/*hero text*/
.hp-table .hp-row .promo_slider .slider .cycle-caption p big{
    color:#fff !important;
}

/*donate section background*/
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(2){
    background-image: url("https://theshulbh.org/media/images/1333/YRyE13331136.png") !important;
    background-size: cover !important;
   

}
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(2) *{
    color:#0f4167 !important;
}
    

/*i would like to*/
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4){
    background-image: url("https://theshulbh.org/media/images/1333/tHTz13331138.png") !important;
    background-size: cover !important;
 
}
@media (max-width:992px){
    #BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4){
        background-image: url("https://theshulbh.org/media/images/1333/phgs13337366.png") !important;
        background-size: cover !important;
    }
}
#BodyContainer > div > div.g960 > div > div.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.g960.no_margin.g960.no_margin > div > div:nth-child(4) *{
    color:#fff !important;
}

/*widgets*/
.icon .widget_content .item .icon img{
filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(102%) contrast(101%);
}
[class*=widget-] .widget_header.widget_header h5, .hp_content_wrapper .readMore{
    color:#0f4167 !important;
}
.hp_content_wrapper [class*=widget-].magazine .item .title, .hp_content_wrapper [class*=widget-].magazine .item .title a, .hp_content_wrapper [class*=widget-].candlelighting .candlelighting_content .times_wrapper .bold.large, [class^=widget-].candlelighting a{
    color:#0f5791 !important;
}

    /*footer*/
#footer{
    background-image: url("https://theshulbh.org/media/images/1333/sPBo13331140.png") !important;
    background-size: cover !important;
}
#footer *{
    font-weight: bold !important;
    color:#fff !important;
}


/*donate page*/
#confirm-wrapper #confirm, #donate-wrapper #donate{
    border-radius:25px !important;
    background-color:rgba(148, 184, 211,.94) !important;
}

#donate-wrapper main h1, #donate-wrapper #donate .monthly-note{
    color:#fff !important;
}

#donate-wrapper main .amounts button{
    background-color: #fff !important;
    color:#0f4167 !important;
}

#donate-wrapper main .amounts button:hover{
    box-shadow: 0 0 40px 40px #0f5791 inset !important;
}



/*mini-holiday*/
html:has(meta[content*="High Holiday"]) .chabad_header,html:has(meta[content*="Chai Partner Seat Reservations - Lavate.la"]) .chabad_header {
    background-image: url(https://theshulbh.org/media/images/1334/DCkV13340845.png) !important;
}